html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgba(240,250,255,1);
}

header {
    height: 75px;
    padding: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(255,255,255), rgb(230,240,255) 80%, rgb(38, 193, 246) 100%);
}

nav {
    height: 25px;
    background: linear-gradient(180deg, rgb(38, 193, 246) 0%, rgba(240,250,255,1) 50%);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.menuItem {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: rgb(0, 189, 255);
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

main {
    height: calc(100% - 130px);
    min-height: 600px;
    padding: 10px;
    margin-top: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(240,250,255,1) 0%, rgba(255,255,255,1) 90%, rgb(38, 193, 246) 100%);
}

#content {
    border: 5px outset rgb(38, 193, 246);
    min-height: 50%;
    padding: 10px;
}

.title, .menu, #content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - (100%/10));
}